# dependencies for dev
twine>=1.13.0                   # make distribution archive
wheel>=0.33.1                   # make pre-compiled distribution package
pathlib_mate                    # autopep8 your code
requests                        # download cloudformation schema file
jinja2                          # template engine

# AWS
boto3                           # AWS Python SDK
SQLAlchemy==1.4.20              # Relational database connector
pysecret==0.0.8                 # secret data loader
